<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Delete Role</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<h1 class="container text-center">Delete Role</h1>
<h2 class="container text-center">Are you sure?</h2>
<p style="margin-left: 80px;">
  <a th:href="@{/role/list}">Role List</a>
</p>
<div style="display: flex; justify-content: center;">
  <form th:action="@{/role/delete}" th:object="${roleDto}" method="post">
<!--    <input th:type="hidden" name="id" th:field="*{id}">-->
    <table>
      <tr>
        <td>Description:</td>
        <td th:text="${roleDto.desc}"></td>
      </tr>
      <tr>
        <td>Name:</td>
        <td th:text="${roleDto.name}"></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Delete Role" class="btn btn-danger"></td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>
