<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>List Role</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>
<body>
<a th:href="@{/role/create}">Create Role</a>
<h1 class="container text-center">Roles</h1>
<form>
  Search by name:
  <input name="search" type="text"/>
  <input type="submit" value="Search"/>
</form>
<br/>
<div style="display: flex; justify-content: center;">
  <table border="1" class="table">
    <tr>
      <th scope="col">Description</th>
      <th scope="col">Name</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
    <th:block th:each="roleDto : ${roleDtos}">
      <tr>
        <td th:text="${roleDto.desc}"></td>
        <td th:text="${roleDto.name}"></td>
        <td><a th:href="@{/role/edit/__${roleDto.id}__ }">Edit</a></td>
        <td><a th:href="@{/role/delete/__${roleDto.id}__ }">Delete</a></td>
      </tr>
    </th:block>
  </table>
</div>
</body>
</html>
